<script>
    import { state } from "$lib/stores/stores";
    import MainMenu from "./components/MainMenu.svelte";
    import Settings from "./components/Settings.svelte";
    import GameComponent from "./components/GameComponent.svelte";
    import Info from "./components/Info.svelte";
</script>

<svelte:head>
    <title>Inca-Delboeuf</title>
</svelte:head>

<div class="app">
    {#if $state.view === "menu"}
        <MainMenu />
    {:else if $state.view === "settings"}
        <Settings />
    {:else if $state.view === "game"}
        <GameComponent />
    {:else if $state.view === "about"}
        <Info />
    {/if}
</div>

<style>
    .app {
    background-color: var(--inca-background);
    color: var(--inca-on-background);
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    user-select: none;
    margin: 0;
    padding: 0;
}

</style>
