<script>
    import { auth, db } from "$lib/firebase/firebase";
    import { config, user } from "$lib/stores/stores";
    import {
        GoogleAuthProvider,
        signInWithPopup,
        signOut,
    } from "firebase/auth";
    import { doc, getDoc, setDoc } from "firebase/firestore";

    auth.onAuthStateChanged((firebaseUser) => {
        if (firebaseUser) {
            updateLearnersList(firebaseUser.uid); // Update learners list on auth state change
        }
    });

    /**
     * @param {string} uid
     */
    async function updateLearnersList(uid) {
        const userRef = doc(db, "users", uid);
        const docSnap = await getDoc(userRef);
        if (docSnap.exists()) {
            $config.profile.learners = docSnap.data().learners || [];
        }
    }

    async function login() {
        const provider = new GoogleAuthProvider();
        try {
            const result = await signInWithPopup(auth, provider);
            const firebaseUser = result.user;
            const userRef = doc(db, "users", firebaseUser.uid);
            const document = await getDoc(userRef);

            if (!document.exists()) {
                // User document does not exist, create it with current teacher and learner from config
                await setDoc(userRef, {
                    name: firebaseUser.displayName,
                    role: "usuario",
                    email: firebaseUser.email,
                    teachers: [$config.profile.instructorName],
                    learners: [$config.profile.learnerName],
                });
                $config.profile.learners = [$config.profile.learnerName]; // Set initial learners
            } else {
                // User document exists, update learners list
                await updateLearnersList(firebaseUser.uid);
            }

            let token = await firebaseUser.getIdToken();
            $user.displayName =
                firebaseUser?.displayName?.toString() ?? "Anonymous";
            $user.email = firebaseUser?.email?.toString() ?? "";
            $user.uid = firebaseUser?.uid?.toString() ?? "";
            $user.isLoggedIn = true;
            $user.photoURL = firebaseUser?.photoURL?.toString() ?? "";
            $user.token = token;
        } catch (error) {
            console.error("Error signing in:", error);
        }
    }

    function logout() {
        signOut(auth).then(() => {
            $user.isLoggedIn = false;
            $user.uid = $user.localUid;
            $user.displayName = "Anonymous";
            $user.email = "";
            $user.photoURL  = "";
            $user.token = "";
        });
    }
</script>

<div>
    {#if $user.isLoggedIn}
        <div class="profile-container">
            <div>
                <img src={$user.photoURL} alt={$user.displayName} />
                <h4>{$user.displayName}</h4>
                <p>{$user.email}</p>
                <p><strong>User ID:</strong> {$user.uid}</p>
            </div>
        </div>
        <button on:click={logout} class="btn btn-danger">Logout</button>
    {:else}
        <p><strong>Local user ID*:</strong> {$user.uid}</p>
        <p class="local-id-warning-p">
            <strong
                >*: This is a local ID saved in your browser. If you delete
                local storage the logs saved in remote DB will be unreachable.
                Always preffer login with Google account.</strong
            >
        </p>
        <p class="login-p">
            Log in to associate the interaction logs to an account:
        </p>
        <button on:click={login} class="btn btn-secondary">
            Log in with Google
        </button>
    {/if}
</div>

<style>
    img {
        width: 100px;
        height: 100px;
        border-radius: 100px;
    }
    button {
        border-radius: 4px;
    }
    .login-p{
        margin-top: 20px;
    }
    .local-id-warning-p{
        font-size: 0.6rem;
        color: red;
    }
</style>
