<script>
    import {state} from "$lib/stores/stores";
    import { ActionButton, Fa } from "inca-utils";
    import { faInfo} from "@fortawesome/free-solid-svg-icons";
</script>

<div class="center">
    <header>
        <div class="back-button">
            <ActionButton
                mode="exit"
                on:click={() => {
                    state.switchView("menu");
                }}
            />
        </div>
    </header>
    <main>
        <h1>About InCA-Delboeuf</h1>
        <p>
            InCA-Delboeuf is a touch-based life enrichment application focused on other animals 
            than humans (OATHs), as well as a research tool for assessing susceptibility against optical ilusions
            in the context of Animal-Computer Interaction (ACI). It focuses on assessing the susceptibility
            to the Delboeuf optical ilusion using diferent representatios of values with diferent containers
            around them. Depending on which representation in selected the values and container sizes 
            are evaluated and analyzed. The susceptibility against the Delboeuf optical ilusion is measured
            based on the continuous selection of the value in the smaller container. The application presents 
            several representations of values that can be <i>Control</i> representations, change of values but use the same container size,
            <i>Experimental</i>  representations,change of container size but use the same values, and <i>Free</i>  representations, which can be 
            a change of container size and of value, the appappearance of this representations are configured in the <i>Settings</i> page.
        </p>
    
        <h2>How to use it?</h2>
        <ol>
            <li>
                <b>This is optional</b>, but you can enter throught your Google account via the Google Login, so the collected data can be asociated to your Google account.
            </li>
            <li>
                Select the name of the <i>Instructor</i> and the <i>Subject</i> for the experimentation.
            </li>
            <li>
                The <i>Instructor</i> configures the game parameters on the <i>Settings</i> page. This includes the set of values that can appear, the set of containers sizes, color, number of representations, etc.
            </li>
            <li>
                The <i>Instructor</i> presents the device to the <i>Subject</i>.
            </li>
            <li>
                The <i>Subject</i> select one of the available game modes.
            </li>
            <li>
                The <i>Instructor</i> rewards <i>Subject</i> if appropriate.
            </li>
            <li>
                The results logs can be downloaded at the <i>Settings</i> page in JSON or CSV format.
            </li>
            <li>
                The results logs can be analyzed at the <i>Researcher</i> page.
            </li>
        </ol>

        <h2>Information about configurations</h2>
            <p>If you need explanation of what some configurations do, please press the <Fa icon={faInfo}/> next to the title of the configuration you want to know about to get more information </p>

        <h2>Information about the "correct" choice</h2>
            <p>The app is set to take as "correct" the selection of the greater value amongs the representations this is independent from the size of the container, this choice has made for the sake of the Control and Free representations</p>
    
        <h2>Related pages</h2>
        <ul>
            <li>
                Find the open-source code <a href="https://gitlab.com/bagomezjara/in-ca-del-boeuf">here</a>.
            </li>
            <li>
                Find other InCA apps <a href="https://buho.dcc.uchile.cl/~inca/">here</a>.
            </li>
        </ul>

        <h2>Problems with the app</h2>
            <p>
                If you have problems with the visualization of the representations when you first enter to the aplication, 
                you can press <a href="https://delboeuf.incalab.cl/clear">here</a> to set the aplication to it's default values
                most likely solving the problem. If not, please contact the developer.
            </p>
    
        <h2>Acknowledgments</h2>
        <ul>
            <li>
                <a href="https://github.com/bagomezjara">Bastián Gómez Jara</a>,DIIC CS Engineering student and developer of this app.
            </li>
            <li>
                <a href="https://barbay.cl/">Jérémy Barbay</a> from <a href="https://buho.dcc.uchile.cl/~inca/">InCA Labs</a>.
            </li>
            <li>
                <a href="https://gitlab.com/csepulvedaa">Crisobal Sepúlveda Álvarez</a>, who provided the base code for this project <a href="https://whichhasmore.incalab.cl/">InCA-WhichHasMore</a>
            </li>
            <li>
                Fabián Jaña, who provided the <a href="https://shockerqt.gitlab.io/inca-utils/">InCA-Utils</a> library for in common elements in InCA apps.
            </li>
        </ul>
    </main>
</div>
<div class="footer" id="footer">
    <p class="text" style="display: inline-block;">
        InCA - Delboeuf - 1.0.11
    </p>
    <br />
</div>

<style>
    main{
        padding: 2rem;
    }
    a{
        text-decoration: none;
    }
    i{
        font-style: italic;
    }
    .footer {
        position: fixed;
        right: 0;
        bottom: 0;
        text-align: right;
        user-select: none;
        display: inline-block;
        margin: 0px 10px 10px 0px;
    }
    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
    }
    header > .back-button {
        justify-self: flex-start;
    }
</style>