<!--This is the structure for the modals for the Info buttons in the Setting page -->
<script>
    import { fade } from 'svelte/transition';
    import { TrainerButton, Fa, Tile } from "inca-utils";

    export let open = false;
    export let onClose = () => {};

    function handleClose() {
        onClose();
    }
</script>

<style>
    .modal {
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        background-color: var(--inca-background);
        margin: auto;
        padding: 50px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px;
        position: relative;
    }

    button.close {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        color: #aaa;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

    button.close:hover,
    button.close:focus {
        color: black;
        outline: none;
    }
</style>

{#if open}
    <div class="modal" transition:fade>
        <div class="modal-content" transition:fade>
            <button class="close" on:click={handleClose} aria-label="Close">&times;</button>
            <slot></slot>
        </div>
    </div>
{/if}
