<script src="https://kit.fontawesome.com/46081bcebe.js" crossorigin="anonymous">
    // @ts-nocheck

    import { writable, get } from 'svelte/store';
    import { faGear, faExpand, faInfo} from "@fortawesome/free-solid-svg-icons";
    import { state, config, logger, user } from "$lib/stores/stores";
    import { ActionButton, ThemePicker, Tile, Fa } from "inca-utils";
    import GoogleLogin from "./GoogleLogin.svelte";
    import { logsToJSONUrl, asyncLogsToCsvUrl } from "$lib/log/utils";
    import { browser } from "$app/environment";
    import { createNewText, startTextToSpeech, speak } from "$lib/sound/sound";
    import { disableNetwork } from 'firebase/firestore';
    import Square from './Square.svelte';
    import Modal from './Modal.svelte';
    import { onMount } from "svelte";

    let i = 3;
    let m = 1;
    let correctSound;
    let incorrectSound;
    let synth;
    let voices;
    let valueflag = 0;
    let containerflag = 0;
    let redraw = true;
    let modes = ["dice", "heap", "disc","square"];


    async function addLearner() {
        if (newLearner.trim() !== "") {
            $config.profile.learnerName = newLearner;
            if ($user.isLoggedIn) {
                const userRef = doc(db, "users", $user.uid);
                await updateDoc(userRef, {
                    learners: arrayUnion(newLearner),
                });
            } else {
                let learners =
                    JSON.parse(localStorage.getItem("learners")) || [];
                if (!learners.includes(newLearner)) {
                    learners.push(newLearner);
                    localStorage.setItem("learners", JSON.stringify(learners));
                }
            }
            newLearner = ""; // Reset the input field
        }
    }

    // Function to handle selection of an existing learner
    function selectLearner() {
        $config.profile.learnerName = selectedLearner;
    }


    function switchOffRedraw() {
        redraw = false;
    }
    function switchOnRedraw() {
        redraw = true;
    }

    let arrayLength = $config.visualSettings.fullmult.length;

    function SpecialCase2(){
        let aux;
        if($config.visualSettings.figure){
            aux = (($config.visualSettings.tileWidth / 2) / 9) * 2/3;
        }else{
            aux = ((($config.visualSettings.tileWidth / 2) - 20) / 9);
        }
        return aux;
    }

    let activeModal = null;

    function toggleModal(index) {
        activeModal = (activeModal === index) ? null : index;
    }
</script>

<meta name="viewport" content="width=device-width, initial-scale=1">

<article class="relative m-auto h-full max-w-3xl py-8">
    <header class="flex justify-between pb-4">
        <ActionButton
            mode="exit"
            on:click={() => {
                state.switchView("menu");
            }}
        />
    </header>

    <article class="settings">
        <!-- PROFILE SECTION -->
        <section>
            <h2>Log In</h2>
            <center> <GoogleLogin /></center>
        </section>
        <section>
            <h2>Profile</h2>
            <div>
                <label for="learnerName">Subject's name</label>
                <input
                    class="basis-80"
                    id="learnerName"
                    type="text"
                    bind:value={$config.profile.learnerName}
                />
            </div>

            <div>
                <label for="instructorName">Instructor's name</label>
                <input
                    class="basis-80"
                    id="instructorName"
                    type="text"
                    bind:value={$config.profile.instructorName}
                />
            </div>
        </section>

        <section>
            <h2>Logs
                <button class="info-button" style="border-radius:25%" on:click={() => toggleModal(0)} aria-label={`More information ${0}`}>
                    <h5><Fa icon={faInfo} /></h5>
                </button>
            </h2>
            
            <Modal open={activeModal === 0} onClose={() => toggleModal(0)}>
                <h5>In this section of the configurations you can download the logs of experimentation for the diferent subjects</h5>
            </Modal>

            <p>
                <a href={logsToJSONUrl($logger)} download="logs.json"
                    >Download as JSON</a
                >
                /
                {#await asyncLogsToCsvUrl($logger)}
                    <div>Zipping CSV</div>
                {:then csv}
                    <a href={csv} download="logs.zip">Download as CSV</a>
                {:catch error}
                    <p>{error}</p>
                {/await}
            </p>
        </section>
        <section>
            <h2>Theme</h2>
            <ThemePicker />
        </section>
        <section>
            <table>
                <tr
                    ><td>
                        <h3>Mode = {$config.gameSettings.currentMode} 
                            <button class="info-button" style="border-radius:25%" on:click={() => toggleModal(1)} aria-label={`More information ${1}`}>
                                <h5><Fa icon={faInfo} /></h5>
                            </button>
                    </h3>
                        <Modal open={activeModal === 1} onClose={() => toggleModal(1)}>
                            <h5>In this section you can change the mode for the representation shown in this page</h5>
                        </Modal>
                        {#each modes as mode}
                            <input
                                type="radio"
                                bind:group={$config.gameSettings.currentMode}
                                value={mode}
                                on:change={(e) => {
                                    $config.gridSize = 3;
                                }}
                            />
                            {mode}
                        {/each}

                        <h3>
                            Set of Values = &#123 {$config.gameSettings.defaultValues.sort(
                                (a, b) => a > b,
                            )} &#125 
                            <button class="info-button" style="border-radius:25%" on:click={() => toggleModal(2)} aria-label={`More information ${2}`}>
                                <h5><Fa icon={faInfo} /></h5>
                            </button>
                        </h3>
                        
                        <Modal open={activeModal === 2} onClose={() => toggleModal(2)}>
                            <h5>In this section you can select the set of possible values in the experimentation</h5>
                        </Modal>

                        {#each Array.from(Array($config.gameSettings.gridSize * $config.gameSettings.gridSize + 1).keys()) as v}
                            <input
                                type="checkbox"
                                id="valueSlider"
                                bind:group={$config.gameSettings.defaultValues}
                                value={v}
                                name="values"
                                on:change={() => {
                                    if($config.gameSettings.defaultValues.length == 1){
                                        $config.gameSettings.defaultValues[1]=v;
                                    }
                                    valueflag=0;
                                }}
                            />{v}
                        {/each}
                        
                        <!--If anyone wants to add a new shape to Figure they can change the boolean value to a integer so they can chouse between more options-->
                        <h3>Figure
                            <button class="info-button" style="border-radius:25%" on:click={() => toggleModal(3)} aria-label={`More information ${3}`}>
                                <h5><Fa icon={faInfo} /></h5>
                            </button>
                        </h3>
                        <Modal open={activeModal === 3} onClose={() => toggleModal(3)}>
                            <h5>In this section you can set the geometry of the containers, being "Circle" the circular container and "Square" the square container</h5>
                        </Modal>
                            <input type=radio bind:group={$config.visualSettings.figure} value={true}>Circle
                            <input type=radio bind:group={$config.visualSettings.figure} value={false}>Square
                        <h3>
                            Multiplier Set = &#123 {$config.visualSettings.multiplier.sort((a, b) => a > b)} &#125
                            <button class="info-button" style="border-radius:25%" on:click={() => toggleModal(4)} aria-label={`More information ${4}`}>
                                <h5><Fa icon={faInfo} /></h5>
                            </button>
                        </h3>
                        <Modal open={activeModal === 4} onClose={() => toggleModal(4)}>
                            <h5>In this section you can select the set of possible container sizes for the experimentation</h5>
                        </Modal>
                        {#each Array(arrayLength) as _, m}
                            <input
                                type="checkbox"
                                bind:group={$config.visualSettings.multiplier}
                                value={$config.visualSettings.fullmult[m]}
                                on:change={() => {
                                    if($config.visualSettings.multiplier.length == 1){
                                        $config.visualSettings.multiplier[1]=$config.visualSettings.fullmult[m];
                                    }
                                    containerflag=0;
                                }}
                            />{$config.visualSettings.fullmult[m]}
                        {/each}

                        <h2>Border Size: {$config.visualSettings.borderTickness}
                            <button class="info-button" style="border-radius:25%" on:click={() => toggleModal(5)} aria-label={`More information ${5}`}>
                                <h5><Fa icon={faInfo} /></h5>
                            </button>
                        </h2>
                        <Modal open={activeModal === 5} onClose={() => toggleModal(5)}>
                            <h5>In this section you can set the thickness of the borders for the containers</h5>
                        </Modal>
                        <input
                            style="width:50%"
                            type="range"
                            bind:value={$config.visualSettings.borderTickness}
                            min="0"
                            max="8"
                        />
                        <h2>Values for the example representation
                            <button class="info-button" style="border-radius:25%" on:click={() => toggleModal(6)} aria-label={`More information ${6}`}>
                                <h5><Fa icon={faInfo} /></h5>
                            </button>
                        </h2>
                        <Modal open={activeModal === 6} onClose={() => toggleModal(6)}>
                            <h5>In this section you can set the value and size of the container for the example representation shown in the right side</h5>
                        </Modal>
                        <label>Value
                            <button
                                type="button"
                                style="margin-left: 0.5rem;"
                                on:click={() => {
                                    if (valueflag > 0){
                                        valueflag--
                                    }
                                }}
                                >
                                &#8592
                            </button>
                        <input
                            type="text"
                            style="text-align: center;
                            margin-left: 0.5rem;
                            margin-right: 0.5rem;
                            --widht:50%;"
                            bind:value={$config.gameSettings.defaultValues[valueflag]}
                            disabled
                            on:change={() => {

                            }}
                        />
                            <button
                                type="button"
                                on:click={() => {
                                    if ($config.gameSettings.defaultValues[valueflag] < $config.gameSettings.defaultValues[$config.gameSettings.defaultValues.length-1]){
                                        valueflag++;
                                    }
                                }}
                                >
                                &#8594
                            </button>
                    </label>
                    <label>Container
                            <button
                                type="button"
                                style="margin-left: 0.5rem;"
                                on:click={() => {
                                    if (containerflag > 0){
                                        containerflag--
                                    }
                                }}
                                >
                                &#8592
                            </button>
                        <input
                            type="text"
                            style="text-align: center;
                            margin-left: 0.5rem;
                            margin-right: 0.5rem;
                            --widht:50%;"
                            bind:value={$config.visualSettings.multiplier[containerflag]}
                            disabled
                            on:change={() => {

                            }}
                        />
                            <button
                                type="button"
                                on:click={() => {
                                    if ($config.visualSettings.multiplier[containerflag] < $config.visualSettings.multiplier[$config.visualSettings.multiplier.length-1]){
                                        containerflag++;
                                    }
                                }}
                                >
                                &#8594
                            </button>
                    </label>
                        <label>
                            <input
                                type="checkbox"
                                bind:checked={$config.visualSettings
                                    .autoTileWidth}
                                on:click={(event) => {
                                    if ($config.visualSettings.autoTileWidth) {
                                        $config.visualSettings.autoTileWidth = false;
                                    }
                                }}
                            />
                            <h3>Automatic Tile Width
                                <button class="info-button" style="border-radius:25%" on:click={() => toggleModal(7)} aria-label={`More information ${7}`}>
                                    <h5><Fa icon={faInfo} /></h5>
                                </button>
                            </h3>
                            <Modal open={activeModal === 7} onClose={() => toggleModal(7)}>
                                <h5>In this section you can select to make the tiles fit automatically in the screen, if it's not checked you can set the tiles sizes using the slider</h5>
                            </Modal>
                        </label>
                        {#if !$config.visualSettings.autoTileWidth}
                            <h3>
                                Tile Width : {$config.visualSettings.tileWidth}
                            </h3>
                            <input
                                type="range"
                                style="width:50%"
                                bind:value={$config.visualSettings.tileWidth}
                                min="50"
                                max="300"
                                on:input={switchOnRedraw}
                            />
                        {/if}
                    </td>
                    <td>
                        <h3>
                            Example for value={$config.gameSettings.defaultValues[valueflag]} <br> Container size={$config.visualSettings.multiplier[containerflag]} 
                        </h3>

                        <!-- svelte-ignore a11y-label-has-associated-control -->
                        <label align="right">
                            <center>
                                {#if $config.visualSettings.figure}
                                    <div class="border-container-circle" 
                                    style="--container-width: {$config.visualSettings.tileWidth/2 * $config.visualSettings.multiplier[containerflag]}px;
                                    --container-height: {$config.visualSettings.tileWidth/2 * $config.visualSettings.multiplier[containerflag]}px;
                                    --border-size: {$config.visualSettings.borderTickness}px;
                                    ">
                                    {#if redraw}
                                        {#if $config.gameSettings.currentMode == "square"}
                                            <Tile
                                            quantity={9}
                                            gridSize={$config.gridSize}
                                            mode={"rect"}
                                            --width="{(SpecialCase2() * $config.gameSettings.defaultValues[valueflag]) - $config.visualSettings.borderTickness}px"
                                            --border-color = none
                                            --background-color={$config.visualSettings.invisible}
                                            />
                                            {switchOffRedraw()}
                                        {:else}
                                            {#if $config.gameSettings.currentMode == "disc"}
                                                <Tile
                                                    quantity={$config.gameSettings.defaultValues[valueflag]}
                                                    gridSize={$config.gridSize}
                                                    mode={$config.gameSettings.currentMode}
                                                    --width="{$config.visualSettings.tileWidth/2}px"
                                                    --border-color = none
                                                    --background-color={$config.visualSettings.invisible}
                                                />
                                                {switchOffRedraw()}
                                            {:else}
                                                <Tile
                                                    quantity={$config.gameSettings.defaultValues[valueflag]}
                                                    gridSize={$config.gridSize}
                                                    mode={$config.gameSettings.currentMode}
                                                    --width="{$config.visualSettings.tileWidth/3}px"
                                                    --border-color = none
                                                    --background-color={$config.visualSettings.invisible}
                                                />
                                                {switchOffRedraw()}
                                            {/if}
                                        {/if}
                                    {:else}
                                        {#if $config.gameSettings.currentMode == "square"}
                                            <Tile
                                                quantity={9}
                                                gridSize={$config.gridSize}
                                                mode={"rect"}
                                                --width="{(SpecialCase2() * $config.gameSettings.defaultValues[valueflag]) - $config.visualSettings.borderTickness}px"
                                                --border-color = none
                                                --background-color={$config.visualSettings.invisible}
                                            />
                                        {:else}
                                            {#if $config.gameSettings.currentMode == "disc"}
                                                <Tile
                                                    quantity={$config.gameSettings.defaultValues[valueflag]}
                                                    gridSize={$config.gridSize}
                                                    mode={$config.gameSettings.currentMode}
                                                    --width="{$config.visualSettings.tileWidth/2}px"
                                                    --border-color = none
                                                    --background-color={$config.visualSettings.invisible}
                                                />
                                            {:else}
                                                <Tile
                                                    quantity={$config.gameSettings.defaultValues[valueflag]}
                                                    gridSize={$config.gridSize}
                                                    mode={$config.gameSettings.currentMode}
                                                    --width="{$config.visualSettings.tileWidth/3}px"
                                                    --border-color = none
                                                    --background-color={$config.visualSettings.invisible}
                                                />
                                            {/if}
                                        {/if}
                                    {/if}
                                </div>
                                {:else}
                                    <div class="border-container-square" 
                                    style="--container-width: {$config.visualSettings.tileWidth/2 * $config.visualSettings.multiplier[containerflag]}px;
                                    --container-height: {$config.visualSettings.tileWidth/2 * $config.visualSettings.multiplier[containerflag]}px;
                                    --border-size: {$config.visualSettings.borderTickness}px;
                                    ">
                                    {#if redraw}
                                        <!--Because of problems with prioritys in this case I choose to put the representation from scratch rather than calling the component, this is because the component is harder to center
                                        and in doing it this way is more customizable for this special cases-->
                                        {#if $config.gameSettings.currentMode == "square"}
                                            <Tile
                                                quantity={9}
                                                gridSize={$config.gridSize}
                                                mode={"rect"}
                                                --width="{(SpecialCase2() * $config.gameSettings.defaultValues[valueflag]) - $config.visualSettings.borderTickness}px"
                                                --border-color = none
                                                --background-color={$config.visualSettings.invisible}
                                            />
                                            {switchOffRedraw()}
                                        {:else}
                                            <Tile
                                                quantity={$config.gameSettings.defaultValues[valueflag]}
                                                gridSize={$config.gridSize}
                                                mode={$config.gameSettings.currentMode}
                                                --width="{$config.visualSettings.tileWidth/2}px"
                                                --border-color = none
                                                --background-color={$config.visualSettings.invisible}
                                            />
                                            {switchOffRedraw()}
                                        {/if}
                                    {:else}
                                        <!--Because of problems with prioritys in this case I choose to put the representation from scratch rather than calling the component, this is because the component is harder to center
                                        and in doing it this way is more customizable for this special cases-->
                                        {#if $config.gameSettings.currentMode == "square"}
                                            <Tile
                                                quantity={9}
                                                gridSize={$config.gridSize}
                                                mode={"rect"}
                                                --width="{(SpecialCase2() * $config.gameSettings.defaultValues[valueflag]) - $config.visualSettings.borderTickness}px"
                                                --border-color = none
                                                --background-color={$config.visualSettings.invisible}
                                            />
                                        {:else}
                                            <Tile
                                                quantity={$config.gameSettings.defaultValues[valueflag]}
                                                gridSize={$config.gridSize}
                                                mode={$config.gameSettings.currentMode}
                                                --width="{$config.visualSettings.tileWidth/2}px"
                                                --border-color = none
                                                --background-color={$config.visualSettings.invisible}
                                            />
                                        {/if}
                                    {/if}
                                    </div>
                                {/if}
                            </center>
                        </label>
                    </td>
                </tr>
            </table>
        </section>

        <section>

        </section>
            <h2>Home</h2>
                <h3>Representations to choose from
                    <button class="info-button" style="border-radius:25%" on:click={() => toggleModal(8)} aria-label={`More information ${8}`}>
                        <h5><Fa icon={faInfo} /></h5>
                    </button>
                </h3>
                <Modal open={activeModal === 8} onClose={() => toggleModal(8)}>
                    <h5>In this section you can select the representations that will appear in the Main Menu</h5>
                </Modal>
                    {#each modes as mode}
                        <input 
                        type=checkbox bind:group={$config.gameSettings.availableModes}
                        value={mode}
                        />{mode}
                    {/each}

                <label><h3>Random menu modes</h3>
                    &nbsp;&nbsp;
                    <button class="info-button" style="border-radius:25%" on:click={() => toggleModal(9)} aria-label={`More information ${9}`}>
                        <h5><Fa icon={faInfo} /></h5>
                    </button>
                    <Modal open={activeModal === 9} onClose={() => toggleModal(9)}>
                        <h5>In this section you can select the representations to be shown in the Main Menu to be placed in a random order every time it is accesed to the Main Menu</h5>
                    </Modal>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type=checkbox bind:checked={$config.visualSettings.menuRandomModes}>
                </label>
        
                <label><h3>Random menu values</h3>
                    &nbsp;&nbsp;
                    <button class="info-button" style="border-radius:25%" on:click={() => toggleModal(10)} aria-label={`More information ${10}`}>
                        <h5><Fa icon={faInfo} /></h5>
                    </button>
                    <Modal open={activeModal === 10} onClose={() => toggleModal(10)}>
                        <h5>In this section you can set the representations shown in the Main Menu to be showing a random value every time it is accesed to the Main Menu, if it is not checked you can select the default value of the representations with the slider</h5>
                    </Modal>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type=checkbox bind:checked={$config.visualSettings.menuRandomValue}>
                </label>

                {#if !$config.visualSettings.menuRandomValue}
                    <h2>Menu value: {$config.visualSettings.menuSetValue}</h2>
                    <input
                        type="range"
                        bind:value={$config.visualSettings.menuSetValue}
                        min="0"
                        max="9"
                    />
                {/if}
        <section>
            <h2>Exercises features</h2>
                <h4>Nb values to choose from: {$config.gameSettings.nbChoices}
                    &nbsp;
                    <button class="info-button" style="border-radius:25%" on:click={() => toggleModal(11)} aria-label={`More information ${11}`}>
                        <h5><Fa icon={faInfo} /></h5>
                    </button>
                </h4>
                <Modal open={activeModal === 11} onClose={() => toggleModal(11)}>
                    <h5>In this section you can set the number of representations that are shown per experimentation instance</h5>
                </Modal>
                <br>
                    <button
                        type="button"
                        style="margin-left: 0.5rem;"
                        on:click={() => {
                            if ($config.gameSettings.nbChoices > 1){
                                $config.gameSettings.nbChoices = $config.gameSettings.nbChoices - 1;
                            }
                        }}
                        >
                        &#8592
                    </button>
                <input
                    type="text"
                    style="text-align: center;
                    margin-left: 0.5rem;
                    margin-right: 0.5rem;
                    --widht:10%;"
                    bind:value={$config.gameSettings.nbChoices}
                    on:change={() => {
                        if($config.gameSettings.nbChoices < 2){
                            $config.gameSettings.nbChoices = 2;
                        }else if($config.gameSettings.nbChoices > 5){
                            $config.gameSettings.nbChoices = 5;
                        }else{
                            $config.gameSettings.nbChoices =  Math.round($config.gameSettings.nbChoices)
                        }
                    }}
                />
                    <button
                        type="button"
                        on:click={() => {
                            if ($config.gameSettings.nbChoices < 5){
                                $config.gameSettings.nbChoices = $config.gameSettings.nbChoices + 1;
                            }
                        }}
                        >
                        &#8594
                    </button>
                <br><br> 
                <h4>Space Between Tiles: {$config.visualSettings.spaceBetweenTiles}
                    &nbsp;
                    <button class="info-button" style="border-radius:25%" on:click={() => toggleModal(12)} aria-label={`More information ${12}`}>
                        <h5><Fa icon={faInfo} /></h5>
                    </button>
                </h4>
                <Modal open={activeModal === 12} onClose={() => toggleModal(12)}>
                    <h5>In this section you can set the space between the representations</h5>
                </Modal>
                <br>
                    <button
                        type="button"
                        style="margin-left: 0.5rem;"
                        on:click={() => {
                            if ($config.visualSettings.spaceBetweenTiles > 0){
                                $config.visualSettings.spaceBetweenTiles = $config.visualSettings.spaceBetweenTiles - 20;
                            }
                        }}
                        >
                        &#8592
                    </button>
                <input
                    type="text"
                    style="text-align: center;
                    margin-left: 0.5rem;
                    margin-right: 0.5rem;
                    --widht:10%;"
                    bind:value={$config.visualSettings.spaceBetweenTiles}
                    on:change={() => {
                        if($config.visualSettings.spaceBetweenTiles < 0){
                            $config.gameSettings.nbChoices = 0;
                        }else if($config.visualSettings.spaceBetweenTiles > 100){
                            $config.visualSettings.spaceBetweenTiles = 100;
                        }else{
                            $config.visualSettings.spaceBetweenTiles =  Math.round($config.visualSettings.spaceBetweenTiles)
                        }
                    }}
                />
                    <button
                        type="button"
                        on:click={() => {
                            if ($config.visualSettings.spaceBetweenTiles < 100){
                                $config.visualSettings.spaceBetweenTiles = $config.visualSettings.spaceBetweenTiles + 20;
                            }
                        }}
                        >
                        &#8594
                    </button>
                <br><br>
                <h4>Waiting Time between exercises: {$config.gameSettings.waitingTime} seconds
                    &nbsp;
                    <button class="info-button" style="border-radius:25%" on:click={() => toggleModal(13)} aria-label={`More information ${13}`}>
                        <h5><Fa icon={faInfo} /></h5>
                    </button>
                </h4>
                <Modal open={activeModal === 13} onClose={() => toggleModal(13)}>
                    <h5>In this section you can set the time that passes between each of the exercises of experimentations</h5>
                </Modal>
                <br>
                    <button
                        type="button"
                        style="margin-left: 0.5rem;"
                        on:click={() => {
                            if ($config.gameSettings.waitingTime > 0){
                                $config.gameSettings.waitingTime = Math.ceil(($config.gameSettings.waitingTime - 0.1) * 10)/10;
                            }
                        }}
                        >
                        &#8592
                    </button>
                <input
                    type="text"
                    style="text-align: center;
                    margin-left: 0.5rem;
                    margin-right: 0.5rem;
                    --widht:10%;"
                    bind:value={$config.gameSettings.waitingTime}
                    on:change={() => {
                        if($config.gameSettings.waitingTime < 0){
                            $config.gameSettings.waitingTime = 0;
                        }else if($config.gameSettings.waitingTime > 10){
                            $config.gameSettings.waitingTime = 10;
                        }else{
                            $config.gameSettings.waitingTime =  Math.ceil($config.gameSettings.waitingTime * 10)/10;
                        }
                    }}
                />
                    <button
                        type="button"
                        on:click={() => {
                            if ($config.gameSettings.waitingTime < 10){
                                $config.gameSettings.waitingTime = Math.ceil(($config.gameSettings.waitingTime + 0.1) * 10)/10;
                            }
                        }}
                        >
                        &#8594
                    </button>
                <br><br> 
            <br />

            <h3>Representation Chances
                <button class="info-button" style="border-radius:25%" on:click={() => toggleModal(14)} aria-label={`More information ${14}`}>
                    <h5><Fa icon={faInfo} /></h5>
                </button>
            </h3>
            <Modal open={activeModal === 14} onClose={() => toggleModal(14)}>
                <h5>In this section you can select the percentage of appearance of the different types of exercises during the experimentation, "Control" being exercises that compare representations with the same 
                    container size but different values and "Experimental" being the exercises that compare representations with the same value but different container sizes, the diferece between the sum of both chances and 100%
                    are "Free" exercises that have diferent values and container size representations
                </h5>
            </Modal>
                <h4>Control Representation: {$config.gameSettings.controlChance}%</h4>
                    <input
                        type="range"
                        bind:value={$config.gameSettings.controlChance}
                        min="0"
                        max="100"
                        on:change={() => {
                            $config.gameSettings.freeChance = 100 - ($config.gameSettings.controlChance + $config.gameSettings.experimentChance)
                            if($config.gameSettings.controlChance + $config.gameSettings.experimentChance > 100){
                                $config.gameSettings.controlChance = 100 - $config.gameSettings.experimentChance;
                                $config.gameSettings.freeChance = 0;
                            }
                        }}
                    /><br><br>
                <h4>Experimental Representation: {$config.gameSettings.experimentChance}%</h4>
                    <input
                        type="range"
                        bind:value={$config.gameSettings.experimentChance}
                        width=30%
                        min="0"
                        max="100"
                        on:change={() => {
                            $config.gameSettings.freeChance = 100 - ($config.gameSettings.controlChance + $config.gameSettings.experimentChance)
                            if($config.gameSettings.controlChance + $config.gameSettings.experimentChance > 100){
                                $config.gameSettings.experimentChance = 100 - $config.gameSettings.controlChance;
                                $config.gameSettings.freeChance = 0;
                            }
                        }}
                    /><br><br>
            <br><br>
            <label>
                <input
                    type="checkbox"
                    bind:checked={$config.gameSettings.timedRedirect}
                /> <h3>Autoredirect to home after finish</h3>
            </label>
            {#if $config.gameSettings.timedRedirect}
                <h4>Time to redirect: {$config.gameSettings.redirectTime} seconds
                    <button class="info-button" style="border-radius:25%" on:click={() => toggleModal(15)} aria-label={`More information ${15}`}>
                        <h5><Fa icon={faInfo} /></h5>
                    </button>
                </h4>
                <Modal open={activeModal === 15} onClose={() => toggleModal(15)}>
                    <h5>In this section you can set the time passed after the experimentation ends to redirect the subject to the Main Menu</h5>
                </Modal>
                <br>
                        <button
                            type="button"
                            style="margin-left: 0.5rem;"
                            on:click={() => {
                                if ($config.gameSettings.redirectTime > 0){
                                    $config.gameSettings.redirectTime = Math.ceil(($config.gameSettings.redirectTime - 0.1) * 10)/10;
                                }
                            }}
                            >
                            &#8592
                        </button>
                    <input
                        type="text"
                        style="text-align: center;
                        margin-left: 0.5rem;
                        margin-right: 0.5rem;
                        --widht:10%;"
                        bind:value={$config.gameSettings.redirectTime}
                        on:change={() => {
                            if($config.gameSettings.redirectTime < 0){
                                $config.gameSettings.redirectTime = 0;
                            }else if($config.gameSettings.redirectTime > 10){
                                $config.gameSettings.redirectTime = 10;
                            }else{
                                $config.gameSettings.redirectTime =  Math.ceil($config.gameSettings.redirectTime * 10)/10;
                            }
                        }}
                    />
                        <button
                            type="button"
                            on:click={() => {
                                if ($config.gameSettings.redirectTime < 10){
                                    $config.gameSettings.redirectTime = Math.ceil(($config.gameSettings.redirectTime + 0.1) * 10)/10;
                                }
                            }}
                            >
                            &#8594
                        </button>
            {:else}
                <h4>Time to start a new game: {$config.gameSettings.newGameTime} seconds
                    <button class="info-button" style="border-radius:25%" on:click={() => toggleModal(16)} aria-label={`More information ${16}`}>
                        <h5><Fa icon={faInfo} /></h5>
                    </button>
                </h4>
                <Modal open={activeModal === 16} onClose={() => toggleModal(16)}>
                    <h5>In this section you can set the time passed after the experimentation end to let the subject participate in the experimentation again</h5>
                </Modal>
                    <button
                        type="button"
                        style="margin-left: 0.5rem;"
                        on:click={() => {
                            if ($config.gameSettings.newGameTime > 0){
                                $config.gameSettings.newGameTime = Math.ceil(($config.gameSettings.newGameTime - 0.1) * 10)/10;
                            }
                        }}
                        >
                        &#8592
                    </button>
                <input
                    type="text"
                    style="text-align: center;
                    margin-left: 0.5rem;
                    margin-right: 0.5rem;
                    --widht:10%;"
                    bind:value={$config.gameSettings.newGameTime}
                    on:change={() => {
                        if($config.gameSettings.newGameTime < 0){
                            $config.gameSettings.newGameTime = 0;
                        }else if($config.gameSettings.newGameTime > 10){
                            $config.gameSettings.newGameTime = 10;
                        }else{
                            $config.gameSettings.newGameTime =  Math.ceil($config.gameSettings.newGameTime * 10)/10;
                        }
                    }}
                />
                    <button
                        type="button"
                        on:click={() => {
                            if ($config.gameSettings.newGameTime < 10){
                                $config.gameSettings.newGameTime = Math.ceil(($config.gameSettings.newGameTime + 0.1) * 10)/10;
                            }
                        }}
                        >
                        &#8594
                    </button>
            {/if}
            <br />
        </section>
        <section>
            <h2>
                <input
                    type="checkbox"
                    bind:checked={$config.gameSettings.gameFeatures}
                /> Games features
            </h2>
            {#if $config.gameSettings.gameFeatures}
                <h4>Game Length: {$config.gameSettings.gameLength}
                    &nbsp;
                    <button class="info-button" style="border-radius:25%" on:click={() => toggleModal(17)} aria-label={`More information ${17}`}>
                        <h5><Fa icon={faInfo} /></h5>
                    </button>
                </h4>
                <Modal open={activeModal === 17} onClose={() => toggleModal(17)}>
                    <h5>In this section you can set the number of exercises per round of experimentation</h5>
                </Modal>
                <br>
                        <button
                            type="button"
                            style="margin-left: 0.5rem;"
                            on:click={() => {
                                if ($config.gameSettings.gameLength > 1){
                                    $config.gameSettings.gameLength = $config.gameSettings.gameLength - 1;
                                }
                            }}
                            >
                            &#8592
                        </button>
                    <input
                        type="text"
                        style="text-align: center;
                        margin-left: 0.5rem;
                        margin-right: 0.5rem;
                        --widht:10%;"
                        bind:value={$config.gameSettings.gameLength}
                        on:change={() => {
                            if($config.gameSettings.gameLength < 1){
                                $config.gameSettings.gameLength = 1;
                            }else if($config.gameSettings.gameLength > 50){
                                $config.gameSettings.gameLength = 50;
                            }else{
                                $config.gameSettings.nbChoicegameLengths =  Math.round($config.gameSettings.gameLength)
                            }
                        }}
                    />
                        <button
                            type="button"
                            on:click={() => {
                                if ($config.gameSettings.gameLength < 50){
                                    $config.gameSettings.gameLength = $config.gameSettings.gameLength + 1;
                                }
                            }}
                            >
                            &#8594
                        </button>
                    <br><br>
                <h4>Game Threshold for Excellent: {$config.gameSettings.excelThreshold}
                    &nbsp;
                    <button class="info-button" style="border-radius:25%" on:click={() => toggleModal(18)} aria-label={`More information ${18}`}>
                        <h5><Fa icon={faInfo} /></h5>
                    </button>
                </h4>
                <Modal open={activeModal === 18} onClose={() => toggleModal(18)}>
                    <h5>In this section you can set the minimun percentaje of correct answers to get an excellent result</h5>
                </Modal>
                <br>
                        <button
                            type="button"
                            style="margin-left: 0.5rem;"
                            on:click={() => {
                                if ($config.gameSettings.excelThreshold > 0){
                                    $config.gameSettings.excelThreshold = Math.ceil(($config.gameSettings.excelThreshold - 0.1) * 10)/10;
                                }
                            }}
                            >
                            &#8592
                        </button>
                    <input
                        type="text"
                        style="text-align: center;
                        margin-left: 0.5rem;
                        margin-right: 0.5rem;
                        --widht:10%;"
                        bind:value={$config.gameSettings.excelThreshold}
                        on:change={() => {
                            if($config.gameSettings.excelThreshold < 0){
                                $config.gameSettings.excelThreshold = 0;
                            }else if($config.gameSettings.excelThreshold > 1){
                                $config.gameSettings.excelThreshold = 1;
                            }else{
                                $config.gameSettings.excelThreshold =  Math.ceil($config.gameSettings.excelThreshold * 10)/10;
                            }
                        }}
                    />
                        <button
                            type="button"
                            on:click={() => {
                                if ($config.gameSettings.excelThreshold < 1){
                                    $config.gameSettings.excelThreshold = Math.ceil(($config.gameSettings.excelThreshold + 0.1) * 10)/10;
                                }
                            }}
                            >
                            &#8594
                        </button>
                    <br><br>
                <h4>Game Threshold for Pass: {$config.gameSettings.passThreshold}
                    &nbsp;
                    <button class="info-button" style="border-radius:25%" on:click={() => toggleModal(19)} aria-label={`More information ${19}`}>
                        <h5><Fa icon={faInfo} /></h5>
                    </button>
                </h4>
                <Modal open={activeModal === 19} onClose={() => toggleModal(19)}>
                    <h5>In this section you can set the minimun percentaje of correct answers to get a pass result</h5>
                </Modal>
                <br>
                        <button
                            type="button"
                            style="margin-left: 0.5rem;
                            --widht:10%;"
                            on:click={() => {
                                if ($config.gameSettings.passThreshold > 0){
                                    $config.gameSettings.passThreshold = Math.ceil(($config.gameSettings.passThreshold - 0.1) * 10)/10;
                                }
                            }}
                            >
                            &#8592
                        </button>
                    <input
                        type="text"
                        style="text-align: center;
                        margin-left: 0.5rem;
                        margin-right: 0.5rem;
                        --widht:10%;"
                        bind:value={$config.gameSettings.passThreshold}
                        on:change={() => {
                            if($config.gameSettings.passThreshold < 0){
                                $config.gameSettings.passThreshold = 0;
                            }else if($config.gameSettings.passThreshold > $config.gameSettings.excelThreshold){
                                $config.gameSettings.passThreshold = $config.gameSettings.excelThreshold;
                            }else{
                                $config.gameSettings.passThreshold =  Math.ceil($config.gameSettings.passThreshold * 10)/10;
                            }
                        }}
                    />
                    <button
                        type="button"
                        on:click={() => {
                            if ($config.gameSettings.passThreshold < $config.gameSettings.excelThreshold){
                                $config.gameSettings.passThreshold = Math.ceil(($config.gameSettings.passThreshold + 0.1) * 10)/10;
                            }
                        }}
                        >
                        &#8594
                    </button>
            {/if}
        </section>

        <h3>Speeches
            <button class="info-button" style="border-radius:25%" on:click={() => toggleModal(20)} aria-label={`More information ${20}`}>
                <h5><Fa icon={faInfo} /></h5>
            </button>
        </h3>
        <Modal open={activeModal === 20} onClose={() => toggleModal(20)}>
            <h5>In this section you can change the pitch and rate of the voice synthesizer and also try the correct and incorrect sounds</h5>
        </Modal>
                <h4>Pitch: {$config.tts.pitch}</h4>
                    <input
                        type="range"
                        bind:value={$config.tts.pitch}
                        min="0.1"
                        max="2"
                        step="0.1"
                    /><br><br>

                <h4>Rate: {$config.tts.rate}</h4>
                    <input
                        type="range"
                        bind:value={$config.tts.rate}
                        min="0"
                        max="2"
                        step="0.1"
                /><br><br>
                <button
                    type="button"
                    class="btn btn-warning btn-lg"
                    style="background-color: #006C4F;
                    --width:100%;
                    border:none;"
                    on:click={() => {
                        if (browser) {
                            synth = window.speechSynthesis;
                            voices = synth.getVoices();
                            startTextToSpeech(
                                synth,
                                voices,
                                $config.tts.pitch,
                                $config.tts.rate,
                                $config.tts.lang,
                                $config.tts.lang,
                                $config.gameSettings.playSound,
                            );
                            correctSound = createNewText($config.tts.messages["correct"]);
                            speak(correctSound);
                        }
                    }}
                >
                    Correct
                </button>
                <button
                    type="button"
                    class="btn btn-warning btn-lg"
                    style="background-color: #006C4F;
                    --width:100%;
                    border:none;"
                    on:click={() => {
                        if (browser) {
                            synth = window.speechSynthesis;
                            voices = synth.getVoices();
                            startTextToSpeech(
                                synth,
                                voices,
                                $config.tts.pitch,
                                $config.tts.rate,
                                $config.tts.lang,
                                $config.tts.lang,
                                $config.gameSettings.playSound,
                            );
                            incorrectSound = createNewText($config.tts.messages["incorrect"]);
                            speak(incorrectSound);
                        }
                    }}
                >
                    Incorrect
                </button>
        <section>
            <h2>Test configurations
                <button class="info-button" style="border-radius:25%" on:click={() => toggleModal(21)} aria-label={`More information ${21}`}>
                    <h5><Fa icon={faInfo} /></h5>
                </button>
            </h2>
            <Modal open={activeModal === 21} onClose={() => toggleModal(21)}>
                <h5>In this section you can press the "test" button to change the setting so the set of values is &#123 7,8,9 &#125, the set of container sizes are &#123 1,1.5,2 &#125 and all the exercises are "Free" exercises
                    this is when the representations have diferent values and diferent container sizes
                </h5>
            </Modal>
            <div class="reset-button">
                <button
                    type="button"
                    class="btn btn-warning btn-lg"
                    style="background-color: #006C4F;
                    --width:100%;
                    border:none;"
                    on:click={() => {
                        $config.gameSettings.availableModes=["disc"];
                        $config.gameSettings.defaultValues=[7,8,9];
                        $config.visualSettings.multiplier=[1,1.5,2];
                        $config.visualSettings.borderTickness=8;
                        $config.gameSettings.nbChoices=3;
                        $config.gameSettings.experimentChance=0;
                        $config.gameSettings.controlChance=0;
                    }}
                >
                Test
                </button>
            </div>
        </section>
        <section>
            <h2>Reset Config
                <button class="info-button" style="border-radius:25%" on:click={() => toggleModal(22)} aria-label={`More information ${22}`}>
                    <h5><Fa icon={faInfo} /></h5>
                </button>
            </h2>
            <Modal open={activeModal === 22} onClose={() => toggleModal(22)}>
                <h5>In this section you can press the "Reset to default" button to change all the settings to their default values</h5>
            </Modal>
            <div class="reset-button">
                <button
                    type="button"
                    class="btn btn-warning btn-lg"
                    on:click={() => {
                        config.resetConfig();
                    }}
                >
                    Reset to default
                </button>
            </div>
        </section>
    </article>
</article>

<div class="footer" id="footer">
    <p class="text" style="display: inline-block;">
        InCA - Delboeuf - 1.0.11
    </p>
    <br />
</div>



<style>
    .reset-button {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
    .settings {
        padding: 0 2rem;
        width: auto;
        margin: auto;
        background-color: var(--inca-background);
    }

    :global(section) {
        margin: 2rem 0;
    }

    article header {
        display: flex;
        justify-content: space-between;
    }

    table {
        width: 100%;
    }

    tr {
        display: flex;
        justify-content: space-between;
    }

    td {
        padding: 1rem; /* Adjust padding as needed */
    }

    input[type="radio"],
    input[type="checkbox"] {
        align-items: left;
        margin-top: 0.5rem;
        margin-right: 0.5rem; /* Add margin between radio/checkbox and label */
    }

    label {
        display: flex;
        align-items: left;
        margin-left: 0;
        margin-bottom: 1rem; /* Add margin between labels in the same row */
    }

    input[type="range"] {
        margin-left: 1rem;
        width: 10%;
    }

    center {
        display: block; /* Center the content inside the center tag */
    }

    input[type="checkbox"],
    input[type="radio"] {
        transform: scale(2);
        margin-left: 10px;
        margin-right: 10px;
    }
    label {
        margin: 10px;
    }
    input[type="text"] {
        width: var(--widht);
        color: var(--border-color,var(--inca-tile-border-color, $inca-tile-border-color));
        background-color: var(--inca-background);
    }
    .footer {
        position: fixed;
        right: 0;
        bottom: 0;
        text-align: right;
        user-select: none;
        display: inline-block;
        margin: 0px 10px 10px 0px;
    }
    /**There was no way of changing the size of the containers in InCA-Utils, so I used new container that can contain the Tiles so the values inside are maintained but the size can change**/
    .border-container-circle {
        width: var(--container-width);
        height: var(--container-height);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--inca-tile-background, $inca-tile-background);
        border: var(--border-size,var(--inca-tile-border-size, $inca-tile-border-size)) solid var(--border-color,var(--inca-tile-border-color, $inca-tile-border-color));
        border-radius: 50%;
    }

    .border-container-square {
        width: var(--container-width);
        height: var(--container-height);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--inca-tile-background, $inca-tile-background);
        border: var(--border-size,var(--inca-tile-border-size, $inca-tile-border-size)) solid var(--border-color,var(--inca-tile-border-color, $inca-tile-border-color));
        cursor:pointer;
    }

</style>