<script>
  //In InCA-Utils there is no Square mode so I created a component Sqaure that uses the "rect" representation that in the value of 9 is a Square, so the only change on it to make it look bigger is to make the size of the
  //Tile variable, in that way I created a sense of a square without using svg or other components, if someone wanted to alter the code to make another shape they would have to make a new component but can use
  //the logic used for the centering of the components in a container that doesn't create the component in the center of the container
  import { config } from "$lib/stores/stores";
  import { Tile } from "inca-utils";
  
  export let quantity = 0;
  export let view = 0;
  export let start = 0; 

  //This are for the calculation of the size that the Tile must have to express the desired value and the postitioning of itself

  $: quantity = Math.max(0, Math.min(9, quantity));

  $: view = $config.visualSettings.tileWidth - 20;

  $: sizePercentage = (view / 9) * quantity;

  $: sizePercentage2 = (($config.visualSettings.tileWidth / 9) * quantity) * 2/3;

  $: start = (view / 2) - (sizePercentage / 2);

</script>

<style>

  .border-container {
        width: var(--container-width);
        height: var(--container-height);
        display: flex;
        background-color: var(--background);
        border: 0px ;
        cursor:pointer;
    }
    .border-container2 {
        width: var(--container-width);
        height: var(--container-height);
        display: flex;
        background-color: var(--background);
        border: 0px ;
        cursor:pointer;
        transform: translate(var(--x), 0px);
    }
</style>

<!--I created two cases for the figure circle and square-->
<div class="border-container" style="--container-width:{$config.visualSettings.tileWidth};--background:{$config.visualSettings.invisible};">
  {#if $config.visualSettings.figure}
    <Tile
      mode = {"rect"} 
      quantity={9}
      --width="{sizePercentage2 - $config.visualSettings.borderTickness}px"
      --border-color="none"
      --background-color={$config.visualSettings.invisible}
    />
  {:else}
  <div class="border-container2" style="--container-width:{$config.visualSettings.tileWidth};--background:{$config.visualSettings.invisible};--x:{start}px;">
      <Tile
        mode = {"rect"} 
        quantity={9}
        --width="{sizePercentage - $config.visualSettings.borderTickness}px"
        --border-color="none"
        --background-color={$config.visualSettings.invisible}
      />
  </div>
  {/if}
</div>