<script>
    import { config } from "$lib/stores/stores";
    import { browser } from "$app/environment";
    import  Delboeuf from "$lib/stores/Delboeuf.json";

    const localStorageKey = 'Delboeuf-config';

    if (browser) {
        config.resetConfig();
        const defaultConfig = { ...Delboeuf.config };
        window.location.href = "/";
        localStorage.removeItem(localStorageKey)
        localStorage.setItem(localStorageKey, JSON.stringify(defaultConfig));
        console.log("cleared config");
    }
</script>

<h1>Cleared Config</h1>